APP_NAME=Ecommerce API
ENV=development
DEBUG=true
API_PREFIX=/api/v1

DB_HOST=localhost
DB_PORT=1433
DB_NAME=ecommerce
DB_USER=sa
DB_PASSWORD=YourStrong!Passw0rd
DB_DRIVER=ODBC Driver 18 for SQL Server

JWT_SECRET_KEY=replace-with-very-long-random-string
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7
